@page
@model IndexModel
@{
    ViewData["Title"] = "Order Manager";
}

<h1 class="text-center fw-bolder">Order Manager</h1>

<div class="card">
    <div class="card-header bg-white">
        <h3 class="card-title">
            <i class="fas fa-search"></i> Filters
        </h3>
    </div>
    <div class="card-body bg-gradient-white">
        <form method="get" id="form-filter">
            <div class="row">
                <div class="col-md-6 pb-2">
                    <div class="form-group">
                        <label class="fw-bold" for="FormDTO_ControlNumber">Control Number</label>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                asp-for="FormDTO.ControlNumber"
                                aria-describedby="Order control number"
                                placeholder="Start Number">
                            <input
                                type="text"
                                class="form-control"
                                asp-for="FormDTO.ControlNumberMax"
                                aria-describedby="Order control number"
                                placeholder="Finish Number">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pb-2">
                    <div class="form-group">
                        <label class="fw-bold" for="FormDTO_State">Control Number</label>
                        <select
                            class="form-select"
                            asp-for="FormDTO.State"
                            asp-items="Model.FormDTO.StateList"
                            aria-describedby="Order State"></select>
                    </div>
                </div>
                <div class="col-md-12 pt-4 d-flex justify-content-center">
                    <button class="btn btn-outline-info" type="submit">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="position-sticky top-0 d-flex justify-content-center py-4" style="z-index:99">
    <button class="btn btn-success" type="button" id="btn-add-order">
        <i class="fa-solid fa-plus"></i> Add Order
    </button>
</div>

<div id="table-container"></div>