@model List<OrderViewModel>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th scope="col" colspan="6">Control Number</th>
          <th scope="col">State</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
          <partial name="Partials/_table_order_row" model="order"></partial>
        }
        </tbody>
      </table>
    </div>
  </div>
</div>
